@tailwind base;
@tailwind components;
@tailwind utilities;



/* ----------------------------- */
/* CUSTOM SELECT BOX */
/* --------------------------- */

.custom-dropdown {
    @apply bg-white w-full cursor-pointer rounded-lg relative py-3 px-4 border border-[#D9D9D9];
  }
  
  /* Custom arrow icon */
  .custom-dropdown::after {
    content: url("../public/icons/chevron-down.svg");
    position: absolute;
    top: 55%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  .dropdown-options {
    z-index: 99999;
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    background-color: #f4f4f4;
    border: 1px solid #d4d4d4;
    border-radius: 0.625rem;
    border-top: none;
    display: block;
    padding: 0.875rem 1.1875rem;
  }
  
  .custom-option {
    border-bottom: 1px solid #d4d4d4;
    cursor: pointer;
  }
  
  .custom-option:hover {
    background-color: #f4f4f4;
  }